*{
  font-size: 18px
}
/*Header Stlye*/
header {
  display: flex;
}

.LOGO{
  flex: 1;
}

.name{
  flex-grow: 8;
  text-align: center;
}
nav{
  position: relative;
  flex: 1;
}
.navButton {
  flex: 1;
  text-align: right;
}
nav ul.menu{
  margin: 0;
  padding:0;
  list-style: none;
  display: none;
  position:absolute;
  right: 0px;
  text-align: right;
}

nav:hover ul {
  display: block;
}
/*End of Header Stlye*/

/*end of header*/

/*Main Content Style*/
Main{
  min-height: 200px;
  border: 1px solid black;
}

/*End of Content Style*/

/*Footer Style*/
footer{
  text-align: center;
  background: linear-gradient(to Right, #f12711 0%, #f5af19 85%)

}




/*End of Footer Styles*/
