*{
  font-size: 30px

}
/*Header Stlye*/
header {
  display: flex;
  color: #E0E0E0;
  background:#131313;
}

.logo{
  flex: 1;
}

.logoImage img {
  width: 100%;
  border-radius: 50%;
}

.name{
  flex-grow: 8;
  text-align: center;
  color: #E0E0E0;
  font-size: 50px;
}
nav{
  position: relative;
  flex: 1;
  padding-bottom: 25px;
}
.navButton {
  flex: 1;
  text-align: right;
}
nav ul.menu{
  margin: 0;
  padding:0;
  list-style: none;
  display: none;
  position:absolute;
  right: 0px;
  text-align: right;
  z-index: 999;
}

nav:hover ul {
  display: block;
}
/*End of Header Stlye*/

/*end of header*/
body{
  margin: 0px;
/*background: linear-gradient(to bottom, #131313 0%, #e7bd70 200%);*/
  background-image: url("../img/BG3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

}
/*Main Content Style*/
Main{
  min-height: 200px;

/*  border: 1px solid black;*/
}
.hero-image {
  background-image: url("../img/Camera.jpg");
  background-color: #131313;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -2px 2px #131313;
}
div.transbox {
  margin: 30px;
  background-color: #131313;
  opacity: 0.9;
  filter: alpha (opacity=60);
}

div.transbox {
  margin: 5%;
  font-weight: bold;


}

p {
  color: #E0E0E0;
  margin: 30px;
  text-shadow: -1px 1px #131313;
}

.profileImage{
  text-align: center;
  flex: 1;
}
.profileImage img{
  width: 35%;
  border-radius: 50%


}

/*End of Content Style*/

/*Footer Style*/
footer{
  text-align: center;
  background: #131313;
  /* background: #e7bd70 85%;*/
  padding-top: 10px;
  padding-bottom: 10px;
  color: #E0E0E0;

}

.socialMedia i {
  padding: 0 .5rem;
}


/*End of Footer Styles*/

@media screen and (min-width: 800px) {
section {
  display: flex;
}
.profileImage {
  flex: 1;
}

.profileImage img{
  width: 30%;
  text-align: left;
}
.aboutMe {
  flex: 1;

}

footer{
  display: flex;
}
.copy, .socialMedia, .contact {
  flex:1;
}
.copy {
  text-align: left;

}
.content {
  text-align: left;
}

}
